@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#skipnav {
    position: fixed;
    top: 30px;
    left: 50%;
    border: 1px solid #ababab;
    transform: translateX(-50%);
    z-index: -5;
    padding: 7.5px;
    background-color: #fff;
    opacity: 0;
}

/* Convert Kit Overrides */
.formkit-sticky-bar {
    @apply z-50;
}
/* Convert Kit Overrides */

h1 {
    @apply font-serif;
}

nav a{
    @apply text-base font-medium text-primary md:text-white md:hover:text-highlight uppercase;
}

nav.sub-menu ul {
    @apply grid grid-cols-4;
}

.table-of-contents a {
    @apply text-lg font-medium text-secondary md:hover:text-primary;
}

.content h2 {
    @apply text-primary text-4xl font-serif mt-4 mb-8 border-b border-gray-300;
}

.content h3 {
    @apply text-primary text-3xl font-serif mt-8 mb-0;
}

.content a {
    @apply break-words;
}

.page-title {
    @apply font-serif md:text-3xl italic text-secondary py-8 px-4 text-center;
}

.section-header, .section-title {
    @apply font-sans text-lg font-medium mt-4 mb-4;
}

/* Document splitter */
#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @apply md:block hidden;
}

#document-viewer {
    min-width: 10px;
}

#transcript {
    min-width: 10px;
}

#transcript br + br, #transcript td > br{
    display: none;
}

.property h4 {
    @apply text-xl font-medium uppercase mt-2;
}

.property .values {
    @apply ml-2;
}

.property .values .value a{
    @apply text-secondary hover:underline !important;
}

.property .values .value p, .property p{
    @apply mt-4 !important;
}

.property .values .value .unclear{
    @apply italic;
}

input[class^="numeric-"], select[class^="numeric-"]{
    @apply shadow-sm sm:text-sm border-gray-300;
}

.content table tbody{
    @apply bg-white divide-y divide-gray-200 !important;
}

.content table tbody tr{

}

.content table tbody tr td{
    @apply px-6 py-4 text-base font-medium text-gray-900 !important;
}

.submenu a, .submenu > span{
    @apply text-secondary hover:text-gray-900 hover:bg-gray-50;
}

.submenu a.active, .submenu > span.active, .submenu li > span.active{
    @apply text-white bg-secondary;
 }

.content ul {
    @apply list-disc my-1 pl-12;
}

.content ol {
    @apply list-decimal my-1 pl-12;
}

.content p, .content div {
    @apply my-4;
}

.content.videos iframe{
    width: 100% !important;
    height: 480px !important;
}

.article a, .faq a {
    @apply text-secondary underline;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline,
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p {
    @apply text-black;
}

/*
 *  Article preview horizontal scroll bar style
 */

.article-preview-carousel .overflow-x-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.article-preview-carousel .overflow-x-scroll::-webkit-scrollbar
{
    height: 2px;
    background-color: #F5F5F5;
}

.article-preview-carousel .overflow-x-scroll::-webkit-scrollbar-thumb
{
    background-color: rgba(0,0,0,0.6);
}

.image-parent:hover .image-child,
.image-parent:focus .image-child {
    @apply transform transition duration-500 scale-125;
}

.image-child {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.slick-dots li button:before {
    font-size: 10px !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.press-modal .article a
{
    @apply text-secondary;
}
/*
 *  Feed preview scroll bar style
 */

.press-modal .overflow-y-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.press-modal .overflow-y-scroll::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.press-modal .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
}

.activity .user{
    @apply font-medium text-gray-900;

}

/* Begin Constant Contact Inline Form */
.ctct-inline-form #email_address_field_0 {
    @apply md:inline-block md:w-1/2;
}
.ctct-inline-form #first_name_field_0 {
    @apply md:inline-block;
}
.ctct-inline-form #last_name_field_0 {
    @apply md:inline-block;
}
/* End Constant Contact Inline Form */

/* Begin Slick Slider */
.slick-next.slick-arrow::before, .slick-prev.slick-arrow::before {
    @apply text-secondary !important;
}

#featured-testimonials .slick-track {
    @apply flex items-center h-[230px] md:h-[460px] !important;
}
#featured-testimonials .slick-list {
    @apply overflow-x-hidden overflow-y-auto;
}
#featured-testimonials .slick-list .slick-slide {
    @apply h-auto;
}
#featured-testimonials .slick-current + .slick-active{
    @apply transition ease-in-out duration-300;
    transform: scale(1.4);
}
#featured-testimonials .slick-current + .slick-active .title div{
    transform: scale(.715);
}
/* End Slick Slider */

#image-testimonials blockquote p{
    @apply contents;
}
#image-testimonials blockquote {
    text-indent: -0.45em;
    @apply px-[.45em];
}
@supports ( hanging-punctuation: first) {
    #image-testimonials blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}
#image-testimonials blockquote::before {
    content: open-quote;
    @apply text-xl lg:text-3xl;
}
#image-testimonials blockquote::after {
    content: close-quote;
    @apply text-xl lg:text-3xl;
}

/* Begin Admin */
.admin nav [x-ref="panel"] a {
    @apply text-sm font-medium text-secondary uppercase;
}
/* End Admin */
